<!DOCTYPE html>
<html>

    <head>
        <title>
            Nicholas Corcoran home page
        </title>
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
        <link href="../css/login.css" rel="stylesheet" type="text/css">
        <script src="../js/script.js" defer></script>
    </head>

    <body>
        {{{body}}}
    </body>

</html>
